/* Device */
#define SHELLY_IP "http://xxx/rpc/EM.GetStatus?id=0"

/* WLAN */
#define WIFI_SSID "xxx"
#define WIFI_PASSWORD "xxx"

/* Telegram Bot */
#define BOT_TOKEN "xxx"
#define NOTIFY_USER_ID "xxx"